<!DOCTYPE html>
<html lang="en-US">

<head>
    <%- include('./require/head'); -%>
</head>

<body class="home blog wp-custom-logo wp-embed-responsive group-blog hfeed">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-dark-grayscale">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 0.49803921568627" />
                    <feFuncG type="table" tableValues="0 0.49803921568627" />
                    <feFuncB type="table" tableValues="0 0.49803921568627" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-grayscale">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 1" />
                    <feFuncG type="table" tableValues="0 1" />
                    <feFuncB type="table" tableValues="0 1" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-purple-yellow">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.54901960784314 0.98823529411765" />
                    <feFuncG type="table" tableValues="0 1" />
                    <feFuncB type="table" tableValues="0.71764705882353 0.25490196078431" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-blue-red">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 1" />
                    <feFuncG type="table" tableValues="0 0.27843137254902" />
                    <feFuncB type="table" tableValues="0.5921568627451 0.27843137254902" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-midnight">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 0" />
                    <feFuncG type="table" tableValues="0 0.64705882352941" />
                    <feFuncB type="table" tableValues="0 1" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-magenta-yellow">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.78039215686275 1" />
                    <feFuncG type="table" tableValues="0 0.94901960784314" />
                    <feFuncB type="table" tableValues="0.35294117647059 0.47058823529412" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-purple-green">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.65098039215686 0.40392156862745" />
                    <feFuncG type="table" tableValues="0 1" />
                    <feFuncB type="table" tableValues="0.44705882352941 0.4" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-blue-orange">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.098039215686275 1" />
                    <feFuncG type="table" tableValues="0 0.66274509803922" />
                    <feFuncB type="table" tableValues="0.84705882352941 0.41960784313725" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg>
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
    <%- include('./require/header'); -%>
        <div id="content">
            <div class="home-archive inside-page post-list">
                <div class="container">
                    <div class="row">

                        <div class="col-sm-9">
                            <div class="list-view blog-list-block">


                                <% posts.forEach(item => { 
                                    const postURL = `${cf.url}/posts/${item.slug}`; 
                                    const timePost = moment(item.time).format('MMMM DD, YYYY');
                                    %>
                                    <div id="post-3104" class="post-3104 post type-post status-publish format-standard has-post-thumbnail hentry category-home eq-blocks">
                                        <div class="news-snippet">
                                            <a href="<%= postURL %>" rel="bookmark" class="featured-image">
                                                <img width="240" height="300" src="<%= item.thumb %>" class="attachment-medium size-medium wp-post-image" alt="" decoding="async" srcset="<%= item.thumb %> 240w, <%= item.thumb %> 675w"
                                                    sizes="(max-width: 240px) 100vw, 240px" /> </a>
                                            <div class="summary">
                                                <span class="category"><a href="<%= cf.url %>/category/<%= item.category %>"><%= item.category %></a></span>
                                                <h4 class="blog-news-title">
                                                    <a href="<%= postURL %>" rel="bookmark">
                                                        <%= item.title %>
                                                    </a>
                                                </h4>
                                                <div class="info">
                                                    <ul class="list-inline">
                                                        <li>
                                                            <a class="url fn n" href="#">
                                                                <div class="author-image">
                                                                    <img alt='' src='https://secure.gravatar.com/avatar/d152887963667ffb7a68899be0b1c731?s=60&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/d152887963667ffb7a68899be0b1c731?s=120&#038;d=mm&#038;r=g 2x' class='avatar avatar-60 photo' height='60'
                                                                        width='60' loading='lazy' decoding='async' />
                                                                </div>
                                                                editor
                                                            </a>
                                                        </li>
                                                        <li><i class="fa fa-clock-o"></i>
                                                            <a href="<%= cf.url %>/2023/04/14/">
                                                                <%= timePost %>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <p>
                                                    <%= item.description %>
                                                </p>
                                                <a href="<%= postURL %>" rel="bookmark" title="" class="readmore">Read More </a>
                                                <div class="social-box">
                                                    <a class="facebook-icon" href="https://www.facebook.com/sharer/sharer.php?u=<%= encodeURIComponent(postURL) %>" onclick="return ! window.open( this.href, fb, 'width=500, height=500' )">
                                                        <i class="fa fa-facebook-f"></i>
                                                    </a>
                                                    <a class="twitter-icon" href="https://twitter.com/intent/tweet?text=<%= encodeURIComponent(item.title) %>&#038;url=<%= encodeURIComponent(postURL) %>&#038;via=" onclick="return ! window.open( this.href, twitter, 'width=500, height=500' )">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                    <a class="pinterest-icon" href="https://pinterest.com/pin/create/button/?url=<%= encodeURIComponent(postURL) %>&#038;media=<%= encodeURIComponent(item.thumb) %>&#038;description=<%= encodeURIComponent(item.title) %>" onclick="return ! window.open( this.href, pinterest, 'width=500, height=500' )">
                                                        <i class="fa fa-pinterest"></i>
                                                    </a>
                                                    <a class="linkedin-icon" href="https://www.linkedin.com/shareArticle?mini=true&#038;url=<%= encodeURIComponent(postURL) %>&#038;title=<%= encodeURIComponent(item.title) %>" onclick="return ! window.open( this.href, linkedin, 'width=500, height=500' )">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                    <a class="mail-icon" href="#" target="_blank">
                                                        <i class="fa fa-envelope"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }); %>

                            </div>
                            <button class="loadmore">More posts</button>
                        </div>
                        <%- include('./require/sidebar'); -%>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./require/foot'); -%>
</body>

</html>